.sidebar {
  height: 100vh;
  width: 200px;
  background-color: #031C30;
  color: #eeeeee75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease;
  direction: rtl; 
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.items {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  cursor: pointer;
  color: inherit;
  transition: color 0.3s ease;
}

li:hover {
  color: #ffffff;
}

.logout button,
.login {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #042c45;
  color: #eee;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}

.logout button:hover,
.login:hover {
  background-color: #064c6d;
}

.menu-toggle {
  position: fixed;
  top: 15px;
  right: 15px; 
  z-index: 1100;
  background-color: #031C30;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .sidebar {
      transform: translateX(100%); 
      position: fixed;
      top: 0;
      right: 0; 
  }

  .sidebar.open {
    transform: translateX(0); 
  }

  .menu-toggle {
    display: block;
  }
}

