:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  color: inherit;
  display: flex;
  gap: 10px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color:#ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* add job */
.add-job-container {
  padding: 20px;
}

.add-job-container h2 {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.add-job-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 15px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.add-job-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.add-job-form input,
.add-job-form textarea,
.add-job-form select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.add-job-form button {
  background-color: #042c45;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.add-job-form button:hover {
  background-color: #064c6d;
}


.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #c3e6cb;
}


@media (max-width:768px) {
  .add-job-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add-job-form  {
    width: 200px;
  }
  
}